<h1>Pages#one</h1>
<h1>HERALDO HUERTA ARAVENA</h1>


<div class="container">
  <div class="jumbotron">
    <h1>HERALDO HUERTA</h1>
    <p>Esta es mi primera aplicacion web en Rails</p>
  </div>
  <p>Find me in app/views/pages/one.html.erb</p>
</div>
