<h1>TITULO SOLICITADO HERALDO HUERTA ARAVENA</h1>
<h1>Pages#two</h1>
<p>Find me in app/views/pages/two.html.erb</p>

<h1>IMAGEN SOLICITADA </h1>
<%= image_tag("rails.png", :alt => "imagen de Rails Routes") %>
